.headpremiereline{
    background-color: #01242D;
    color:white;
}
.headpremiereline .icbleu{
    color: #0B77E3;
}
.headpremiereline .txt{
    color: white;
}
.ico li{/* deuxieme liste avec les icones recherche et panier*/
    background: transparent;
    border-top: none;
    border-bottom: none;
    border-left: none;
    
    
}
.ico .lli{
    border-right: none;
}

.headdeuxiemeline{
    color:  #01242D;
    
    
}
.headdeuxiemeline a{
    color:  #01242D;
    font-size: 18px;
}
.headtroisiemeline{
    background-color:lightgray;
}
.headtroisiemeline h6{
    color:  #01242D;
}
.headtroisiemeline p{
    font-size: 12px;
}
.headtroisiemeline p.second{
    color: #8C8C8C;
}
.iconetaille{
    
    background:white;
    padding: 20px;
    color:#086AD9;
    box-shadow: 2px 2px 2px 2px grey;
    
}
.iconesanstaille{
    color:white;
    
    padding:0px;
}
.textico{ 
    color: white;
}


