body {background-color: black;}

h1 {color: white;
padding-left: 10px;}

.image {size: 200px;
height: 350px;
width: 350px;}
/**********************************************************************************************************************************************************/
/* FIN de sylvain */
/*******/